@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body {
    font-family: 'Press Start 2P', cursive;
    background-color:lightgoldenrodyellow;
    text-align: center;
    
}
header {
    position: relative;
    margin-bottom: -3.4vw;
  }
  .banner {
    width: 100%;
  }
  .banner img {
    position: relative;
    width: 100%;
  }
  
  main {
    width: 80%;
    background-color:indigo;
    margin: 1rem auto;
  }
  
  .flickName {
    margin: 0 0.75rem
  }
  
  .template {
    display: none;
  }