@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body {
    font-family: 'Press Start 2P', cursive;
    background-color:lightgoldenrodyellow;
    text-align: center;
    
}
ul {
    display: inline-block;
}
main {
    width: 80%
}
li {
   
   width:800px; 
   height:15px; 
   text-align:left;
}